* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
nav .nav-list {
  list-style: none;
  display: flex;
}
nav .nav-list li {
  margin: 0 30px;
  text-align: center;
}
nav .nav-list li .nav-text {
  position: relative;
  font-size: 1.7em;
  text-decoration: none;
  color: white;
}
nav .nav-list li .nav-text::before,
nav .nav-list li .nav-text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  transition: 0.3s;
}
nav .nav-list li .nav-text::before {
  top: -5px;
  left: -10px;
  border-top: 0px solid white;
  border-left: 0px solid white;
}
nav .nav-list li .nav-text::after {
  bottom: -5px;
  right: -10px;
  border-bottom: 0px solid white;
  border-right: 0px solid white;
}
nav .nav-list li .nav-text:hover::before,
nav .nav-list li .nav-text:hover::after {
  width: 20px;
  height: 20px;
}
nav .nav-list li .nav-text:hover::before {
  border-top: 1px solid white;
  border-left: 1px solid white;
}
nav .nav-list li .nav-text:hover::after {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

.logo {
  font-size: 1.7em;
  color: white;
  text-shadow: 2px 2px 2px #09203f;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
}
.hamburger .hamburger__box {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
}
.hamburger .hamburger__lines {
  position: absolute;
  display: none;
  background-color: black;
  height: 3px;
  width: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hamburger .hamburger__lines::before,
.hamburger .hamburger__lines::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: black;
  height: 3px;
  width: 100%;
  right: 0;
  top: 50%;
  transition: transform 0.2s ease-in-out;
}
.hamburger .hamburger__lines::before {
  top: -10px;
}
.hamburger .hamburger__lines::after {
  top: 10px;
}

.hamburger--active .hamburger__lines {
  background-color: transparent;
}

.hamburger--active .hamburger__lines::before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__lines::after {
  transform: translateY(-10px) rotate(-45deg);
}

@media only screen and (max-width: 1200px) {
  .hamburger .hamburger__lines {
    display: inline-block;
  }
  .nav-list {
    opacity: 0;
    position: absolute;
    top: 40px;
    right: 0;
    width: 50%;
    height: 96%;
    flex-direction: column;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: rgba(141, 141, 141, 0.5);
    transition: opacity 0.3s ease-in-out;
  }
  .nav-list--active {
    opacity: 1;
  }
}
@media only screen and (max-width: 760px) {
  .nav-list {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */