* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: gray;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
}

// Nav Styling

.nav-menu {
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding: 1em;
	height: 7vh;
}

ul {
	display: flex;
	justify-content: space-around;
	right: 50px;
	list-style: none;

	a {
		padding: 10px;
		font-size: 1.3rem;
		text-decoration: none;
		color: white;
		letter-spacing: 2px;
	}
}

// Burger Styling

.burger {
	top: 0;
	right: 0;
	position: absolute;
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
	display: none;
}

.lines {
	background: black;
	width: 3em;
	height: 0.3em;
	margin: 0.7em;
	border-radius: 20px;
	transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 1000px) {
	.burger {
		display: block;
		transition: 0.3s ease-in-out;
	}

	ul {
		position: absolute;
		right: 0;
		top: 8vh;
		width: 50%;
		text-align: center;
		height: 92vh;
		background: rgb(37, 155, 173);
		flex-direction: column;
		transform: translate(1000%);
		transition: 0.3s;
	}
	ul.active {
		transform: translate(0px);
	}

	a {
		font-size: 2.5em;
		letter-spacing: 2px;
	}
}

@media only screen and (max-width: 760px) {
	ul {
		width: 100%;
	}
}
